{% extends 'base.html.twig' %}

{% block title %}Admin page | Login app{% endblock %}

{% block page_title %}
    <h1>Admin page</h1>
{% endblock %}

{% block body %}
    <a href="{{ path('app_index') }}"><< Index</a>
{% endblock %}
